@import "../../styles/variables";

.input {
  padding: 8px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.3rem;
  background-color: $oxford-blue;
  color: $baby-blue;
  resize: none;

  &:focus {
    outline: none;
    border: 1px solid $baby-blue;
  }

  &::placeholder {
    color: rgb(177, 177, 177);
  }
}
