@import "../../styles/variables";

.input {
  padding: 8px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.3rem;
  background-color: $oxford-blue;
  color: $baby-blue;
  border: none;
  resize: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgb(211, 211, 211);
  }
}
