@import "../../styles/variables";
@import "../../styles/globals.scss";

.container {
  display: flex;
  height: 100vh;
}

.newitem {
  @extend .centered;
  @extend .padded;
  background-color: $oxford-blue;
  color: $baby-blue;
  flex: 0.5;
}

.clipboard {
  @extend .padded;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $baby-blue;
  color: $oxford-blue;
  overflow-y: auto;
  flex: 1;
  position: relative;
}

.newitempanel {
  padding: 16px;
  border: 2px dashed $baby-blue;
  border-radius: 10px;
  text-align: center;
  font-size: 1.3rem;
  max-width: 280px;

  span {
    display: block;
  }

  .addtext {
    margin-bottom: 16px;
  }

  .dragdroptext {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid $baby-blue;
  }
}

.addtip {
  background-color: $baby-blue;
  color: $oxford-blue;
  text-align: center;
  margin-top: 16px;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 2px;
  font-weight: bold;
}
