@import "../../styles/variables";
@import "../../styles/globals.scss";

.itemcontainer {
  display: flex;
  align-items: center;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.deleteitem {
  @extend .centered;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 16px;
  cursor: pointer;
  box-shadow: 0 0 2px $oxford-blue;
  font-size: 0.9rem;
  transition-property: box-shadow background-color;
  transition-duration: 0.3s;

  &:hover {
    background-color: $baby-blue-tint;
    box-shadow: 0 0 5px $oxford-blue;
  }
}

.clipboard_item {
  color: $oxford-blue;
  border: 3px dashed $oxford-blue;
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  width: 450px;
  cursor: pointer;
  background-color: $baby-blue;
  white-space: pre-wrap;
  word-wrap: break-word;
  transition-property: background-color;
  transition-duration: 0.3s;

  &:hover {
    background-color: $baby-blue-tint;
  }
}

@media screen and (max-width: 550px) {
  .clipboard_item {
    width: 250px;
  }
}
